.container {
  /* min-height: 100vh; */
  height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navBar {
  width: 100%;
  height: 4rem;
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.initials {
  margin-left: 3rem;
  font-weight: bolder;
}

.initials:hover {
  font-size: 1.25rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  height: 4rem;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  margin-left: 3rem;
}

.items {
  display: flex;
  margin-right: 3rem;
}

.items a {
  margin: 0.75rem;
  font-weight: bolder;
}

.items a:hover {
  font-size: 1.25rem;
}
  